nav{
    width: 2000px;
    height: 60px;
    background-color: gray;
    margin-top: -9px;
    margin-left: -10px;
}
nav button{
    width: 90px;
    height: 40px;
    color: aliceblue;
    background-color: rgb(13, 119, 9);
    border: none;
    border-radius: 10px;
    margin-left: 1430px;
    margin-top: 10px;
}