*{
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1efef; 
  color: rgb(10, 10, 10);
  font-family: Arial, sans-serif;
  /* height: 80px; */
  padding: 10px 50px;
}

.rightside {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-left: 1300px;
}

.rightside h3 {
  margin: 0;
  font-size: 15px;
  color: #2b2929;
}

.rightside select {
  padding: 3px;
  border-radius: 6px;
  border: none;
  background-color:#f1efef;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
}
.rightside select:focus {
  outline: none;
  border-color: #97999b; 
}


.rightside select:hover {
  border-color: #909192;
}
option 
{ 
  padding: 5px;
   font-size: 16px; 
}

@media (max-width: 600px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .rightside {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
  }
}